{% set menu        = menu        ?? "primary" %}
{% set class       = class       ?? "m-#{menu}" %}
{% set ulClass     = ulClass     ?? 'm-0 p-0 list-none flex' %}
{% set liClass     = liClass     ?? '' %}
{% set aClass      = aClass      ?? '' %}
{% set activeClass = activeClass ?? '' %}

<nav class="{{class}}" role="navigation" aria-label="{{menu|capitalize}} Navigation">
    {{ craft.navigation.render( menu, {
        ulClass: ulClass,
        liClass: liClass,
        aClass: aClass,
        activeClass: activeClass,
        hasChildrenClass: 'nav-has-children',
    }) }}
</nav>