<div class="c-primaryLogo item-end">
    <a href="/" class="font-display text-4xl text-gray-500 flex items-center">
        <span class="text-3xl text-gray-300 mr-1">«</span>logo<span class="text-3xl text-gray-300 ml-1">»</span>
    </a>
</div>