{% extends "_layouts/base" %}
{% import "_macros/richtext" as richtext %}

{% block content %}
    <section class="container py-10">
        <div class="max-w-5xl ml-0">
            {{ richtext.prose( entry.text ) }}
        </div>
    </section>
{% endblock %}