<span class="flex items-center lg:hidden" x-on:click="$dispatch('openMobileMenu')">
    <button type="button" class="bg-none p-0 m-0">
        {{ include( 'svg/hamburger.svg' ) }}
    </button>
</span>