{% extends "_components/images/_base" %}

{% set _defs = {
    imageClass : "rounded-3xl relative z-20 mx-auto max-w-[16rem] sm:max-w-xs md:max-w-sm",
    figureClass: "gridarea-overlap m-auto p-0 flex flex-col",
    transform  : "square"
} %}

{% block image %}

    {% from "_components/images" import generate as generate %}
    {% set image = image ??? images|first ??? null %}
    {% if image %}
        <div class="grid justify-center items-center align-center h-full">
            {{ generate( image, {
                image    : imageClass     ??? settings.imageClass     ??? _defs.imageClass  ??? null,
                figure   : imageFigure    ??? settings.imageFigure    ??? _defs.figureClass ??? null,
                transform: imageTransform ??? settings.imageTransform ??? _defs.transform   ??? null
            } ) }}
            {{ include( '_components/backgrounds/blob.twig' ) }}
        </div>
    {% endif %}

{% endblock %}
