{## Text Layer Adjustments   [Core Template]
{-------------------------------------------------------------------------------------##}
{% macro default( content = null, settings = null ) -%}
    {%- set content  = content  is not null and content  is not iterable ? content|trim : '' -%}
    {%- set settings = settings is not null and settings is iterable ? settings : {} -%}
    {{- content ? raw( content ) -}}
{%- endmacro %}


{% macro default2col( content = null, settings = null ) -%}
    {%- set content  = content  is not null and content  is not iterable ? content|trim : '' -%}
    {%- set settings = settings is not null and settings is iterable ? settings : {} -%}
    {%- if content %}<div class="columns-2 gap-8 text-sm">{{- raw( content ) -}}</div>{% endif -%}
{%- endmacro %}




{## Text Alignment / Margin Matching Macro
{---------------------------------------------------------------------------------------}
    This Macro will accept a string of HTML and find the text alignment of the first
    block level element in the HTML string.

  * Note: This macro ignores any `<div class='eyebrow'>` elements that appear at th
    start of the HTML string. Often because they are the thing that needs alignment
    to match the headline above which it appears.

    Other times you need to match the alignment of a text zone within the layout so
    that it matches the content alignment (particularly opening headlines).

    For example, if you have a single text zone that:

     - Not as wide as your container
     - Defaults to left alignment
     - Has content that is justified center

    Before:                                 After:
    ┌----------------------------┐          ┌----------------------------┐
    |   This headline   |        |          |    |   This zone is    |   |
    |    is centered    |        |          |    |     centered      |   |
    |                   |        |          |    |                   |   |
    |    Which feels    |        |    vs    |    |    Which feels    |   |
    |      awkward      |        |          |    |      better.      |   |
    └----------------------------┘          └----------------------------┘
           Zone 1         Margin            Margin      Zone 1      Margin


    This macro helps resolve that situation by letting you peak at the text alignment
    of the first block level element in the text zone and use it to decide whether
    or not you want to change something about the selected microlayout.

    You could even decide to silently pass the content off to a different microlayout
    that is better suited to the alignment of the content.
{-------------------------------------------------------------------------------------##}
{% macro margin_from_alignment( html = "" ) %}{% apply spaceless -%}
    {%- set html  = html | trim -%}
    {% if html %}
    {%- set attrs = html | retconRemove( '.eyebrow' ) | parseAttr -%}
    {%- set style = attrs.style['text-align'] ?? null -%}
    {%- set class = attrs.class ?? null -%}
    {%- set align = ( 'text-center' in class or style == 'center' ) ? 'mx-auto' -%}
    {%- set align = ( 'text-left'   in class or style == 'left'   ) ? 'mr-auto' : align -%}
    {%- set align = ( 'text-right'  in class or style == 'right'  ) ? 'ml-auto' : align -%}
    {{- align -}}
    {% endif %}
{%- endapply %}{% endmacro %}