{% set entry       = entry     ??? null %}
{% set loop        = loop      ??? null %}
{% set isLastBlock = loop.last ??? null %}
{% set thisBlock   = thisBlock ??? null %}
{% set nextBlock   = nextBlock ??? null %}

{% set thisBg      = thisBlock.settings.bg ??? null %}
{% set nextBg      = nextBlock.settings.bg ??? null %}
{% set matchingBg  = ( nextBlock.settings.inheritBg ??? null ) ??? ( nextBg == thisBg ) ??? false %}

{% set spaceBelowClass      = thisBlock.settings.spaceBelowClass      ??? null %}
{% set bgComponentBottom    = thisBlock.settings.bgComponentBottom    ??? null %}
{% set blockComponentBottom = thisBlock.settings.blockComponentBottom ??? null %}


{## close the <section class='cBlock'> from `blockOpen`
    but first check to see if theres anything to include below the block ##}
{% if blockComponentBottom %}
    {{ include( blockComponentBottom, {
        entry: entry,
        blockAbove: thisBlock,
        blockBelow: nextBlock
    }, withContext = false )}}
{% endif %}

</section>


{## close the background <div> if this is the last block or
    the next block is not inheriting its background ##}
{% if isLastBlock or not matchingBg %}

    {% if spaceBelowClass %}
        {% set spaceClassXtra = isLastBlock ? "spacing__last" : null %}
        <div class="{{spaceBelowClass}} spacing__below {{spaceClassXtra}}"></div>
    {% endif %}

    {% if bgComponentBottom %}
        {{ include( bgComponentBottom, {
            entry: entry,
            blockAbove: thisBlock,
            blockBelow: nextBlock
        }, withContext = false )}}
    {% endif %}

    </div>
{% endif %}