{% set closeBlock = thisBlock ??? null %}
{% set nextBlock  = nextBlock ??? null %}
{% set entry      = entry     ??? null %}
{% set loop       = loop      ??? null %}
{% set lastBlock  = loop.last ??? null %}

{## does the next block inherit the background from this one? ##}
{% set inheritBg  = nextBlock.settings.inheritBg ??? null %}

{## do we need to add extra space after or include a special component ##}
{% set spaceAfter = closeBlock.settings.spaceAfter ??? null %}

{## close the <div class='cBlock'> from `blockOpen` ##}
</div>

{% if spaceAfter %}
    <div class="{{spaceAfter}} {{spaceAfter}}__after"></div>
{% endif %}

{## close the container <div> if this is the last block or
     the next block is not inheriting its background ##}
{% if not nextBlock or not inheritBg %}
    </div>     {## close <div class='container'> from `blockOpen`  ##}
{% endif %}

{% if closeBlock.settings.includeAfter ??? null %}
    {{ include( closeBlock.settings.includeAfter, {
        entry: entry,
        blockAbove: closeBlock,
        blockBelow: nextBlock
    }, withContext = false ) }}
{% endif %}

{## closes the <section class='cBlock'> from `blockOpen`
    if this is the last block or the next block is not inheriting its background ##}
{% if not nextBlock or not inheritBg %}
    </section> {## closes  ##}
{% endif %}
