{% extends "_site/sitehub/core/base" %}

{% block main__content %}

    <div data-theme="shade">
        <div class="container @container py-16">
            <div class="max-w-5xl @container mx-auto text-center mb-20">
                <h1>Sample Layouts</h1>

                <p class="html text-center">
                    These ready-made examples simplify the creation of specific page types. Explore and adapt these layouts to streamline your specific content.
                </p>
            </div>

            {{ sprig( "_site/partials/collections/search.full.sprig", {
                limit : 9,
                source: {
                    section: 'sitehub',
                    type: 'samples',
                },
                interface: 'fullSearch',
                settings: {
                    microLayout: 'topBottom',
                    cardGrid: 'stacked3',

                    cardLayout: 'standard',
                    columns: 3
                }
            }) }}

        </div>
    </div>
{% endblock %}