{## Sitehub is the built in component & layout documentation
   system for content editors. It can be accessed at:

    -> $CRAFT_WEB_URL/sitehub/

   Access is restricted to users with the permission:

    -> allowSitehub

   This template serves two purposes:

   1) helps redirect requests out of the pages structure
      and into the secondary /sitehub/ structure without
      having to do any weird nesting

   2) acts as a preview template for reusable content without
      a public URL using /sitehub/?reusable={{entry.id}}
#}

{% extends '_sitehub/base' %}
{% requirePermission 'allowSitehub' %}

{% set reusableID = craft.app.request.getQueryParam('bit') ??? null %}
{% set entry      = reusableID ? craft.entries().section('bit').id(reusableID).one() ??? null  %}
{% set entrytype  = entry.type.handle ??? null %}

{% if not entry %}
    {% redirect "/sitehub/" %}
{% endif %}

{% block content %}
    <div class="container @container">
        <div class="max-w-sm py-20">
            {{ include( '_cards/item/basic', { entry: entry }, withContext = false ) }}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% if entrytype == 'sidebarFragment' %}
        {{ include( '_components/builders/builderSidebar.twig', {
            entry: entry
        }, withContext = false) }}
    {% endif %}
{% endblock %}

{% block header %}{% endblock %}
{% block pageTitle %}{% endblock %}
{% block aboveFooter %}{% endblock %}
{% block footer %}{% endblock %}
