{##
    how to use this modal.

    <button hx-get="/modal" hx-target="modalContent">Open a Modal</button>
##}


<div
    role="dialog"
    aria-modal="true"

    x-data="{
        open:false,
        onAfterSwap() {
            this.open = true
        },
        doClose() {
            this.open = false
        }
    }"

    x-cloak
    x-show="open"
    x-on:keydown.escape.window="doClose()"
    x-on:htmx:after-swap="onAfterSwap()"

    class="flex justify-center items-center overflow-hidden"
    :class="{
        'fixed top-0 right-0 bottom-0 left-0 z-50 bg-black/70': open
    }"
>
    <div class="absolute top-0 right-0 bottom-0 left-0" x-on:click="doClose()"></div>

    <div
        x-trap.noscroll.inert="open"
        class="relative w-full max-w-3xl rounded-xl max-h-[90vh] overflow-hidden bg-theme-contrast-light shadow-lg z-50"
    >
        <div class="p-2 absolute top-0 left-0 right-0 z-50 flex justify-end">
            <a href="#" x-on:click.prevent="doClose()" class="flex gap-2 items-center text-theme hover:text-theme-alert"><span>Close</span><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 fill-current" viewBox="0 0 24 24"><path d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z" /></svg></a>
        </div>
        <div id="modalContent" class="overflow-y-auto max-h-[90vh] pt-8"></div>
    </div>
</div>
