{% extends '_builders/blocks/text' %}
{% import "_macros/richtext" as richtext %}

{# content placement #}
{% set content1 = text ??? null %}
{% set headline = headline ?? null %}
{% set headline = richtext.formatHeadline( headline, 'h1' ) %}

{% block blockContent %}

    {% embed layout with { blockConfig: blockConfig } %}
    
        {%- block header -%}{%- endblock -%}

        {% block content1 %}
            {{headline}}
            {% if headers or content1 %}
                <div class="prose prose-2xl mt-2">
                    {% if moveHeaders %}
                        {{headers}}
                    {% endif %}
                    {{content1 | retconChange( 'div.prose-lg', false )}}
                </div>
            {% endif %}
        {% endblock %}

        {%- block footer -%}
            {% if moveButtons %}
                {{buttons}}
            {% endif %}
        {%- endblock -%}
    {% endembed %}
{% endblock %}