<div class="fieldTemplate fieldTemplate__contentBuilder">
    <h2>Content Builder</h2>

    <p>
        Content Builders allow editors to easily create complex
        layouts using pre-designed and pre-tested components.
        Components stack together like building blocks and collectively represent a full page of content.
    </p>

    <p>
        Blocks support different content types and layouts depending on their settings.
        <a href="/sitehub/blocks/" target="_blank">Content&nbsp;builder&nbsp;reference&nbsp;→</a>
    </p>
</div>