<footer class="bg-gray-900">
    <div class="container">
        <div class="flex flex-col md:flex-row py-6 text-white justify-center items-center text-xs md:text-base gap-3">
            {% block legal %}
                <div>
                    © {{"now"|date('Y')}} {{ currentSite.name }}. All rights reserved.
                </div>
            {% endblock %}

            {% block menu %}
                {{ include( "_components/navigation/menu", {
                    menu: 'legal',
                    liClass: "mx-3"
                }, withContext = false ) }}
            {% endblock %}
        </div>
    </div>
</footer>