{% set _base = {
    text: text ??? null,
    uuid: create('craft\\helpers\\StringHelper').UUID()
} %}

{# -- merge `_base` into variables passed into the template  -- #}
{% set settings = ( settings is defined and settings is iterable ) ? settings|merge(_base) : _base %}

{% if settings.specialVueLoader ??? null %}
    <div id="vue-{{settings.uuid}}"></div>
{% endif %}

{% js %}
    {% if settings.specialVueLoader ??? null %}
        window.waitForGlobal("app.createApp", function() {
            app.createApp(
                {{ settings.specialVueLoader }},
                {
                    settings: {{ settings|json_encode|raw }}
                }
            ).mount( '#vue-{{settings.uuid}}' )
        })
    {% endif %}
{% endjs %}