## Craft CMS specific files/folders
craftcms/license.key*
craftcms/storage
craftcms/web/*
!craftcms/web/index.php

## Avoid nested .git folders
**.git

# Local Config / Env Files, etc
.env
.project
*.override.yaml
.settings
.idea
.vscode

## Compress SQL before committing
*.sql

## Caches, logs, and temp files
.cache/*
!.cache/composer/
!.cache/composer/.gitkeep
.DS_Store
*.esproj
*.sublime-*
*.tmproj
*.tmproject
*error.log
*debug.log
config.codekit3
prepros-6.config
npm-debug.log
node_modules
vendor
