.DS_Store

.docker/scripts/.env.sh
!.docker/database-seed/sha2_password_fix.sql

cms/.env
cms/vendor/*
cms/storage/*
cms/web/assets/files/*
cms/web/assets/images/*
cms/web/assets/videos/*
cms/web/assets/references/*
cms/web/assets/temp/*
cms/web/dist/*

node_modules/*
src/node_modules/*
src/.npm/*

!/**/.gitkeep