# Craft CMS
craftcms/license.key*
craftcms/templates/sandbox
craftcms/storage
craftcms/web
!craftcms/web/index.php


# Miscellaneous Files
.cache
.DS_Store
.env
.idea
.project
*.config
*.override.yaml
.settings
.vscode/*
.volumes/*
*.esproj
*.sql
*.sublime-*
*.tmproj
*.tmproject
*error.log
*debug.log
config.codekit3
prepros-6.config
npm-debug.log
node_modules
vendor