{% extends "_site/sitehub/core/base" %}

{% html %}
    {## we need to include these here because they don't get loaded via the sprig/htmx
        based previewer, but they do load normally. moving them into app.js would also
        fix the issue, but this is a quick fix for demo purposes.
     -------------------------------------------------------------------------------- ##}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
{% endhtml %}

{% set blockType = type ??? null %}

{% set allowedBlocks = {
    text: {
        layout    : "_site/settings/layout.text.sidebar.json",
        variant   : "_site/settings/variant.text.json",
        theme     : "_site/settings/theme.sidebar.json",
        interspace: "_site/settings/interspace.sidebar.json",
        content   : [
            "_site/content/placeholder/blocks/text.simple"
        ],
    },
    image: {
        layout    : "_site/settings/layout.image.sidebar.json",
        variant   : "_site/settings/variant.image.json",
        theme     : "_site/settings/theme.sidebar.json",
        interspace: "_site/settings/interspace.sidebar.json",
        content   : [
            "_site/content/placeholder/blocks/image.single",
            "_site/content/placeholder/blocks/image.single.tallimage",
            "_site/content/placeholder/blocks/image.single.longtext",
            "_site/content/placeholder/blocks/image.three",
            "_site/content/placeholder/blocks/image.gallery"
        ],
    },
    collection: {
        layout    : "_site/settings/layout.collection.sidebar.json",
        variant   : "_site/settings/variant.collection.json",
        theme     : "_site/settings/theme.sidebar.json",
        interspace: "_site/settings/interspace.sidebar.json",
        content   : [
            "_site/content/placeholder/blocks/collection.simple"
        ],
    },
    media: {
        layout    : "_site/settings/layout.media.sidebar.json",
        variant   : "_site/settings/variant.media.json",
        theme     : "_site/settings/theme.sidebar.json",
        interspace: "_site/settings/interspace.sidebar.json",
        content   : [
            "_site/content/placeholder/blocks/media.one.youtube",
            "_site/content/placeholder/blocks/media.four.youtube",
            "_site/content/placeholder/blocks/media.four.youtube.centered",
        ],
    }
} %}

{% set config = allowedBlocks[blockType]|default() %}

{% block main__content %}
    {% if config %}
        {{ sprig( '_site/sitehub/blocks/_previewer.sprig', {
            type     : blockType,
            config   : config,
            builder  : 'sidebar',
            container: 'sidebar'
        } ) }}
    {% else %}
        <div data-theme="shade">
            <div class="container @container py-28 text-center">
                <h1>Sidebar Blocks</h1>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 my-20">
                    {% for blockType, config in allowedBlocks %}
                        <div class="shadow rounded-lg p-8 relative bg-theme-contrast-light @container">
                            <h2 class="capitalize">{{ blockType | kebab | replace({ '-': ' ' }) }}</h2>
                            <p class="html">{{ config.content|length }} content samples</p>
                            <p class="html"><a href="{{ url( "sitehub/blocks/sidebar/#{blockType}"  ) }}" class="clickCover">Preview</a></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    {% endif %}

{% endblock main__content %}