<div class="fieldTemplate fieldTemplate__addons" style="background:#dadada; padding: var(--padding);">
    <h2>Entry Addons</h2>
    <p>
        Addons are interactive and/or functionality additions that can be attached to a content entry. Some examples might include: <br><br>

        &nbsp;•&nbsp;Automatic modal popups<br>
        &nbsp;•&nbsp;Alert messages<br>
        &nbsp;•&nbsp;Custom &lt;meta&gt; tags<br>
        &nbsp;•&nbsp;Relationships to other content<br><br>

        Addon availability may be restricted or limited by content types.
    </p>
</div>