<div class="fieldTemplate fieldTemplate__contentBit" style="background:#dadada; padding: var(--padding);">
    <p>
        A <strong>Bit</strong> is a reusable snippet of common content entry attributes.
        Available to be used in myriad places throughout a site, either staticallty or dynamically.
    </p>
</div>