@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "typography.pcss";


input[type="text"], input[type="search"],
input[type="password"],input[type="email"] {
    @apply bg-theme-backgroundOff;
}