/** frontend/css/app.pcss
/---------------------------------------------------------------------------------------/
    (1) External Libraries
    (2) Global Utility Classes
    (3) Miscellaneous
    (4) Typography
        - Body Copy & Lists
        - Blockquotes & Decorators
        - Headlines
        - Buttons & Links
    (5) Form Controls
    (6) Animations & Transitions
/-------------------------------------------------------------------------------------**/


/** (1) External Libraries
/-------------------------------------------------------------------------------------**/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/** (2) Global Utility Classes
/-------------------------------------------------------------------------------------**/
@layer utilities {

    .base-headline { @apply
        font-headline
        font-extrabold
        text-theme-headings
        text-balance
        mb-[0.6em];

        a { @apply
            text-theme-highlight/80
      hover:text-theme-headings
        ;}

        strong { @apply
            text-theme-accent/70;
        }
    }

    .base-h1 { @apply
            text-4xl/tight
        @lg:text-5xl/taut
        @xl:text-6xl/taut
       @2xl:text-7xl/taut
       @4xl:text-8xl/taut
    ;}

    .base-h2 { @apply
            text-3xl/tight
        @lg:text-4xl/tight
        @xl:text-5xl/taut
       @2xl:text-6xl/taut
       @4xl:text-7xl/taut
    ;}

    .base-h3 { @apply
            text-2xl/tight
        @lg:text-3xl/tight
        @xl:text-4xl/taut
       @2xl:text-5xl/taut
       @4xl:text-6xl/taut
    ;}

    .base-h4 { @apply
            text-xl/snug
        @lg:text-2xl/tight
        @xl:text-3xl/tight
       @2xl:text-4xl/tight
       @4xl:text-4xl/tight
    ;}

    .base-link { @apply
        underline
        underline-offset-2
        text-theme-link
        hover:text-theme-link/75
        focus:text-theme-link/50
    ;}

    .base-copy { @apply
            font-body
            text-theme-body
            text-sm/snug
        @xs:text-base/snug
        @md:text-lg/snug
        @lg:text-xl/tight
        @xl:text-2xl/tight
       @2xl:text-3xl/tight
       @4xl:text-4xl/taut
    ;}

    .base-larger { @apply
            font-body
            text-theme-body
            text-base/snug
        @xs:text-lg/snug
        @md:text-xl/snug
        @lg:text-2xl/snug
        @xl:text-3xl/snug
       @2xl:text-4xl/snug
       @4xl:text-5xl/snug
    ;}

    .base-smaller { @apply
            font-body
            text-theme-body
            text-xs/tight
        @xs:text-sm/snug
        @md:text-base/snug
        @lg:text-lg/snug
        @xl:text-xl/snug
       @2xl:text-2xl/snug
       @4xl:text-3xl/snug
    ;}

    .base-tiny { @apply
            font-body
            text-theme-body
            text-xs/tight
        @md:text-sm/tight
        @lg:text-base/tight
        @xl:text-lg/tight
       @2xl:text-xl/tight
       @4xl:text-2xl/tight
    ;}

    .moustache {
        @apply relative;
        &:after { @apply bg-theme-highlight absolute content-[''] block w-16 h-1 -bottom-1; }
        &[class*="text-center"]:after { transform: translateX(-50%); left:50%; width: 10rem; }
        &[class*="text-right"]:after  { right: 0rem; }
    }

    .moustache-lg {
        @apply relative;
        &:after { @apply bg-theme-highlight absolute content-[''] block w-24 h-2 -bottom-8; }
        &[class*="text-center"]:after { transform: translateX(-50%); left:50%; width: 15rem; }
        &[class*="text-right"]:after  { right: 0rem; }
    }

    .click-cover::before { @apply
        absolute content-[""] inset-0 z-50 cursor-pointer
    ;}

    .zone-gap { @apply
        gap-x-10
        gap-y-10
        @xl:gap-x-16
        @xl:gap-y-16
    ;}

    .grid-gap { @apply
        gap-x-5
        gap-y-5
        @xl:gap-x-10
        @xl:gap-y-10
    ;}

    .encroachment    { @apply -mt-[0.7rem];  }
    .encroachment-sm { @apply -mt-[0.35rem]; }

    .last-child-mb-0 {
        :is(h1, h2, h3, h4, p, ol, ul, dl, figure, table, blockquote,
           .h1,.h2,.h3,.h4):last-child { @apply !mb-0; }
    }
}


/** (3) Miscellaneous
/-------------------------------------------------------------------------------------**/
[data-theme] {
    &.canvas { @apply bg-theme; }
    .canvas { @apply
        absolute inset-0 overflow-hidden fill-theme bg-theme
    ;}
}

[data-knockout="light"] {
    @apply bg-theme-tint
}

[data-knockout="dark"] {
    @apply bg-theme-tint2
}

[class*="\@container"] {
    @apply last-child-mb-0;
}

header#header {
    &:not(*:has(section)) { h1 { @apply moustache-lg; } }
}

header#header[data-theme="neutral"] + main > *[data-theme="neutral"]:first-of-type,
header#header[data-theme="light"]   + main > *[data-theme="light"]:first-of-type,
header#header[data-theme="accent"]  + main > *[data-theme="accent"]:first-of-type {
    @apply -mt-16;
}



/** (4) Typography
/-------------------------------------------------------------------------------------**/

/** Body Text --------------------------------------------------------------------**/
main#content, header#header, footer#footer, [data-builder], [role="dialog"] {
    h1, .h1 { @apply base-h1 base-headline; }
    h2, .h2 { @apply base-h2 base-headline moustache; }
    h3, .h3 { @apply base-h3 base-headline; }
    h4, .h4 { @apply base-h4 base-headline; }
    h5, .h5 { @apply base-h4 base-headline; }
    h6, .h6 { @apply base-h4 base-headline; }

    p, blockquote, address {
        @apply base-copy;
        &.larger  { @apply base-larger; }
        &.smaller { @apply base-smaller; }
        &.tiny    { @apply base-tiny; }
    }

    table, figure, ol:not(nav ol), ul:not(nav ul), dl {
        :is(td, th, li, dt, dd, figcaption, caption) { @apply base-copy; }
        &.larger  :is(td, th, li, dt, dd, figcaption, caption) { @apply base-larger; }
        &.smaller :is(td, th, li, dt, dd, figcaption, caption) { @apply base-smaller; }
        &.tiny    :is(td, th, li, dt, dd, figcaption, caption) { @apply base-tiny; }
    }
}


/** Builder Adjustments ----------------------------------------------------------**/
[data-builder] {
    p, dl, blockquote, table, ol:not(nav ol), ul:not(nav ul) { @apply
        mb-[0.8em]
    ;}

    h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        & + :is(h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) { @apply encroachment; }
    }

    h4, .h4, h5, .h5, h6, .h6 {
        & + :is(p, ul, ol, dl) { @apply encroachment-sm; }
    }

    ul:not(nav ul) { @apply
        list-disc
        pl-[1em]
        pr-[2em]
    ;}

    ol:not(nav ol) { @apply
        list-decimal
        pl-[2em]
    ;}

    blockquote { @apply
        bg-theme-tint
        p-8;
    }

    mark { @apply
        inline-block
        relative
        bg-transparent;
    }

    /* a:not([class*="button"]) { @apply base-link; } */
    a:not(.button) { @apply base-link; }
}


/** (3) Form Controls
/-------------------------------------------------------------------------------------**/
select,
textarea,
input[type="money"],
input[type="number"],
input[type="text"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="email"] {
    &.fui-input, &:not(.fui-input) {
        @apply
            bg-white
            text-black/70
            !p-3
            !border-2
            border-theme-highlight
            rounded-lg
        ;
    }
}

.fui-label,
.fui-legend {
    @apply text-lg !mb-1;
}


.fui-type-name {
    legend {
        display: none;
    }
}

[data-single-line-form] {
    input  { @apply !rounded-r-none; }
    button { @apply !rounded-l-none; }
}

input[type=radio].sr-only:checked + label { @apply
    bg-theme-accent
    text-theme-accent-alt
    cursor-default
;}


/** Buttons **********************************************************************/
.button { @apply
    rounded-lg
    transition
    inline-block
    font-display
    font-bold
    no-underline
    !leading-none
    whitespace-nowrap
    ;

    &:not(.button_ghost) { @apply
        bg-theme-accent/80
        text-theme-accent-alt/80
        border-theme-accent-tint
        hover:bg-theme-accent;
    ;}

    &.button_ghost { @apply
        opacity-50
        bg-theme-tint
        text-theme
        border-theme-tint
        hover:bg-theme-accent-tint/20
        hover:opacity-100;
    ;}

    &:not(.button_small) { @apply
        text-sm
        py-2
        px-2.5
        border
        sm:py-3
        sm:px-4
        sm:border-2
    ;}

    &.button_small { @apply
        text-sm
        py-2
        px-2.5
        border
    ;}
}


/** (4) Animations & Transitions
/-------------------------------------------------------------------------------------**/
*[data-animate="reveal"] [data-zone="1"],
*[data-animate="reveal"] [data-zone="2"] {
    opacity   : 0;
    transform : translateY(30px);
    transition: all 0.5s;
}

*[data-entered=true] [data-animate="reveal"] [data-zone="1"] {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}

*[data-entered=true] [data-animate="reveal"] [data-zone="2"] {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.25s;
}
