.cBlock {
	@apply w-full;
}

.cGridHeader,
.cGridFooter,
.cGridCell {
    @apply @container;

    & > *:first-child {
        margin-top: 0;
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}