select,
textarea,
input[type="text"], input[type="search"],
input[type="password"],input[type="email"] {
    @apply
        bg-theme-backgroundOff
        text-theme-foreground
        p-2
        rounded-lg
        border
        border-theme-foreground
    ;
}
