select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"] {
    @apply
        p-2
        text-theme
        rounded-lg
        border
        border-canvas-light
        bg-canvas-dark
    ;
}
