/* spacing styles */
div.spacing-normal {
    &:after {
        @apply block content-[''] h-14 @4xl:h-20 @7xl:h-28;
    }
}

div.spacing-extra {
    &:after {
        @apply block content-[''] h-20 @4xl:h-28 @7xl:h-40;
    }
}