{% block topbar %}
    <div class="border-b bg-shade-light border-shade sticky top-0 w-full z-50">

        <div class="2xl:container px-4 md:px-10 lg:px-4 xl:px-10 2xl:px-16 @container">

            <div class="flex items-center w-full gap-8">
                {% block topbarLogo %}{% endblock %}

                {% block navbar %}
                    <div class="hidden lg:flex flex-col flex-grow text-right w-full items-end gap-6">
                        <div class="flex items-center gap-3">
                            {% block navbarUtilityMenu %}{% endblock %}
                        </div>

                        <div class="flex items-center gap-6">
                            {% block navbarPrimaryMenu %}{% endblock %}
                        </div>
                    </div>

                    {{ include( '_components/navigation/mobileMenuTrigger', { }, withContext = false ) }}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
