{## [Core] Notification Component
{-------------------------------------------------------------------------------------##}
{% extends template_from_string('{% block notice %}{% endblock %}') %}

{% set alertActive = true %}
{% if alertActive %}
    <div
        data-theme="accent"

        class="
            fixed
            bottom-0
            right-0
            left-0
            z-50
            transition-transform
            opacity-0
            translate-y-32
            "

            x-data="{ hasScrolled: false }"
            :class="{
                '!translate-y-0 !opacity-100': hasScrolled
            }"
            @scroll.window.once="
                hasScrolled = true
            "
    >

        <a class="
            block
            p-4
            text-center
            font-medium"
            href="#">
            This is an alert message
        </a>
    </div>
{% endif %}

{% js %}
    {% if alertActive %}
        document.querySelector('body').classList.add( 'hasAlert' )
    {% endif %}
{% endjs %}

{% css %}
    body.hasScroller div.cAlertBar {
        transform: translateY(0);
    }

    body.hasAlert #footer {
        padding-bottom: 56px;
    }
{% endcss %}
