{% set blockAbove   = blockAbove ?? null %}
{% set blockBelow   = blockBelow ?? null %}
{% set entry        = entry      ?? null %}

{% set cloudColor   = fillColor ??? blockAbove.settings.scene.bgHex ??? '#fff' %}

<div class="cloud-top">
    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.01 129" preserveAspectRatio="none">
        <defs>
            <style>.cls-1,.cls-2{fill:{{cloudColor}};}
            .cls-1{opacity:0.5;}
            </style>
        </defs>
        <g id="Layer_2" data-name="Layer 2"><path class="cls-1" d="M46.51,87a34.3,34.3,0,0,0,15.77-3.82,34.49,34.49,0,0,0,57.59,7.56,34.48,34.48,0,0,0,41.7-9.86,34.51,34.51,0,1,0-15.13-53.76,34.53,34.53,0,0,0-38.3,10.14,34.48,34.48,0,0,0-30.41.56A34.5,34.5,0,1,0,46.51,87Z" transform="translate(0)"/><path class="cls-1" d="M280.51,105a48.55,48.55,0,0,0,12.37-1.6,48.48,48.48,0,0,0,59.42,9.36,48.49,48.49,0,0,0,80.58-12.69,48.5,48.5,0,1,0-27.75-65.14,48.55,48.55,0,0,0-40.42,3.31A48.52,48.52,0,0,0,316.13,23.6,48.5,48.5,0,1,0,280.51,105Z" transform="translate(0)"/></g><g id="Layer_1" data-name="Layer 1"><circle class="cls-2" cx="380.12" cy="35.58" r="13.88"/><circle class="cls-2" cx="363.75" cy="44.12" r="13.88"/><rect class="cls-2" x="0.01" width="500" height="36" transform="translate(500.01 36) rotate(180)"/><circle class="cls-2" cx="348.09" cy="38.42" r="13.88"/><circle class="cls-2" cx="338.12" cy="29.88" r="13.88"/><circle class="cls-2" cx="97.43" cy="27.68" r="23.58"/><circle class="cls-2" cx="74.61" cy="49.2" r="23.58"/><circle class="cls-2" cx="46.38" cy="47.12" r="23.58"/><ellipse class="cls-2" cx="23.87" cy="36.76" rx="23.86" ry="23.58"/><circle class="cls-2" cx="168.65" cy="37.32" r="34.12"/><circle class="cls-2" cx="213.83" cy="61.3" r="34.12"/><circle class="cls-2" cx="253.75" cy="37.6" r="34.12"/><circle class="cls-2" cx="423.13" cy="34.26" r="13.74"/><circle class="cls-2" cx="440.52" cy="43.87" r="13.74"/><circle class="cls-2" cx="456.52" cy="47.87" r="13.74"/><circle class="cls-2" cx="471.52" cy="42.87" r="13.74"/><circle class="cls-2" cx="485.52" cy="33.87" r="13.74"/><circle class="cls-2" cx="399.45" cy="37.4" r="11.6"/><circle class="cls-2" cx="302.83" cy="37.98" r="23.58"/><circle class="cls-2" cx="134.52" cy="39.87" r="23.58"/></g>
    </svg>
</div>

{% css %}

    .cloud-top {
        position: absolute;
        top: -40px;
        left:0;
        right: 0;
        height: 140px;
        z-index: 5;
    }

{% endcss %}