{% import "_macros/richtext" as richtext %}

{% set htag    = htag    ??? 'h3' %}
{% set title   = title   ??? entry.title ??? entry.headline ??? null %}
{% set text    = text    ??? entry.summary ??? entry.dek ??? entry.text ??? '' %}
{% set url     = url     ??? entry.url ??? null %}
{% set handle  = handle  ??? entry.section.handle ??? 'Base' %}
{% set images  = images  ??? entry.images.all() ??? null %}

<div class="cCard cCard__simpleIcon cCard__{{handle}} flex flex-col gap-2">
    <div>
        <div class="aspect-square h-16 bg-gray-200">&nbsp;</div>
    </div>

    {% block title %}
        {%- if title -%}
            {{ richtext.formatHeadline( title, htag, "font-body not-italic text-base mb-0 uppercase font-bold" ) }}
        {%- endif -%}
    {% endblock %}

    {% block summary %}
        {{ richtext.prose( text, 'sm' ) }}
    {% endblock %}
</div>