{% import "_macros/richtext" as richtext %}
{% set htag    = htag    ??? 'strong' %}
{% set title   = title   ??? entry.title ??? entry.headline ??? null %}
{% set text    = text    ??? entry.summary ??? entry.dek ??? entry.text ??? null %}
{% set url     = url     ??? entry.url ??? null %}
{% set handle  = handle  ??? entry.section.handle ??? 'Base' %}
{% set images  = images  ??? entry.images.all() ??? null %}

<article class="cCard cCard__testimonial cCard__{{handle}}">
    <div class="flex flex-col lg:flex-row max-w-sm lg:max-w-full mx-auto items-center justify-center">
        <div class="mt-4 md:mt-0 text-center max-w-3xl">

            <div class="bg-gray-500 h-24 w-24 mb-4 mx-auto rounded-full">
                &nbsp;
            </div>

            {% block summary %}
                {{ richtext.prose(
                    ( text
                    ? craft.typogrify.truncate(text, 200)
                    : ''
                    ), 'lg'
                )}}
            {% endblock %}

            {% block title %}
                {%- if title -%}
                    <div class="pt-2">
                        <strong>{{title}}</strong>
                    </div>
                {%- endif -%}
            {% endblock %}

            {% block link %}
                {%- if url -%}
                    <a class="self-end mt-2 clickable-parent block" href="{{ url }}">Read more →</a>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</article>