{% extends "sitebook/_core/base" %}

{% html %}
    {## we need to include these here because they don't get loaded via the sprig/htmx
        based previewer, but they do load normally. moving them into app.js would also
        fix the issue, but this is a quick fix for demo purposes.
     -------------------------------------------------------------------------------- ##}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
{% endhtml %}

{% set blockType = type ??? null %}

{% set allowedCards = {
    text: {
        layout    : "_blocks/config/layoutText.json",
        variant   : "_blocks/config/variantText.json",
        theme     : "_blocks/config/themeContent.json",
        interspace: "_blocks/config/interspaceContent.json",
        content   : [
            "sitebook/blocks/_content/text.simple"
        ],
    },

    textDouble: {
        layout    : "_blocks/config/layoutTextDouble.json",
        variant   : "_blocks/config/variantTextDouble.json",
        theme     : "_blocks/config/themeContent.json",
        interspace: "_blocks/config/interspaceContent.json",
        content   : [
            "sitebook/blocks/_content/textDouble.simple"
        ],
    },

    image: {
        layout    : "_blocks/config/layoutImage.json",
        variant   : "_blocks/config/variantImage.json",
        theme     : "_blocks/config/themeContent.json",
        interspace: "_blocks/config/interspaceContent.json",
        content   : [
            "sitebook/blocks/_content/image.single",
            "sitebook/blocks/_content/image.single.tallimage",
            "sitebook/blocks/_content/image.single.longtext",
            "sitebook/blocks/_content/image.three",
            "sitebook/blocks/_content/image.gallery"
        ],
    },
    collection: {
        layout    : "_blocks/config/layoutCollection.json",
        variant   : "_blocks/config/variantCollection.json",
        theme     : "_blocks/config/themeContent.json",
        interspace: "_blocks/config/interspaceContent.json",
        content   : [
            "sitebook/blocks/_content/collection.simple"
        ],
    },
    media: {
        layout    : "_blocks/config/layoutMedia.json",
        variant   : "_blocks/config/variantMedia.json",
        theme     : "_blocks/config/themeContent.json",
        interspace: "_blocks/config/interspaceContent.json",
        content   : [
            "sitebook/blocks/_content/media.one.youtube",
            "sitebook/blocks/_content/media.four.youtube",
            "sitebook/blocks/_content/media.four.youtube.centered",
        ],
    },

} %}

{% set config = allowedBlocks[blockType]|default() %}

{% block page_main_content %}
    {% if config %}
        {{ sprig( 'sitebook/blocks/_previewer.sprig', { type: blockType, config: config } ) }}
    {% else %}
        <div data-theme="standard">
            <div class="container @container py-28 text-center">
                <h1>Content Blocks</h1>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 my-20">
                    {% for blockType, config in allowedBlocks %}
                        <div class="shadow rounded-lg p-8 relative bg-theme-backgroundOff @container">
                            <h2 class="capitalize">{{ blockType | kebab | replace({ '-': ' ' }) }}</h2>
                            <p class="html">{{ config.content|length }} content samples</p>
                            <p class="html"><a href="{{ url( "sitebook/blocks/#{blockType}"  ) }}" class="clickCover">Preview</a></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    {% endif %}

{% endblock page_main_content %}