{% macro content() %}
    {% set text %}
        <div class="eyebrow eyebrowStandard">Quibusnam praeteritis?</div>
        <h2 class="rd-h2">Nihil enim hoc differt</h2>
        <p>Istam voluptatem perpetuam quis potest praestare sapienti? Isto modo ne improbos quidem, nam illud vehementer repugnat, eundem beatum.</p>
        <p><a href="#" class="button">Do a thing</a></p>
    {% endset %}

    {{ [{
        text  : text,
        source: 'external',
        embeds: [{
            "headline":"<p>Guinness Ambassadors with Julian McCullough</p>",
            "summary":"<p>This episode Dan is joined by comedian Julian McCullough. They talk about an early gig that helped them quit their day jobs to chase comedy. They were Guinness brand Ambassadors! Drop us a rating on itunes and subscribe to the show to help us grow.</p>",
            "sourceUrl":"https://www.youtube.com/watch?v=bbQTzLVl7Uw"
        },{
            "sourceUrl":"https://www.youtube.com/watch?v=19LfvmyBCFk"
        },{
            "sourceUrl":"https://www.youtube.com/watch?v=NA80zmq6iAo"
        },{
            "sourceUrl":"https://www.youtube.com/watch?v=2cx73EOaGWU"
        },{
            "sourceUrl":"https://www.youtube.com/watch?v=px6fF-pnCZw"
        },{
            "sourceUrl":"https://www.youtube.com/watch?v=Q23cFyQRPxU"
        },{
            "sourceUrl":"https://www.youtube.com/watch?v=6KBF6YR2gvM"
        },{
            "sourceUrl":"https://www.youtube.com/watch?v=-9-Oad2X0ks"
        },{
            "sourceUrl":"https://www.youtube.com/watch?v=4HpOVZRDA9k"
        },{
            "sourceUrl":"https://www.youtube.com/watch?v=iXofkszyJ2Y"
        },{
            "sourceUrl":"https://www.youtube.com/watch?v=gE7EpTnX-sM"
        },{
            "sourceUrl":"https://www.youtube.com/watch?v=vgap1mACK4w"
        },{
            "sourceUrl":"https://www.youtube.com/watch?v=voxRYbqrrzg"
        }],
        settings: {
            builder   : 'content',
            section   : 'pages',
            entryType : 'standard',
            blockType : 'media',
        }
    }] | json_encode | raw }}
{% endmacro %}

{#
    embeds: [{
        "headline":"<p>Guinness Ambassadors with Julian McCullough</p>",
        "summary":"<p>This episode Dan is joined by comedian Julian McCullough. They talk about an early gig that helped them quit their day jobs to chase comedy. They were Guinness brand Ambassadors! Drop us a rating on itunes and subscribe to the show to help us grow.</p>",
        "sourceUrl":"https://www.youtube.com/watch?v=bbQTzLVl7Uw"
    },{
        "headline":"The San Francisco 49ers Tried To Warn Us About This.. | NFL News (Brock Purdy, Brandon Aiyuk, Deebo)",
        "summary":"Use code \"LOGIC\", or the link to get your FREE square & to 2X your first deposit: https://prizepicks.onelink.me/ivHR LOGICThis video includes 2023 San Franci...",
        "sourceUrl":"https://www.youtube.com/watch?v=19LfvmyBCFk"
    },{
        "headline":"Strict Immigrant Parents | Wilfred Padua | Stand Up Comedy",
        "summary":"Don't Tell Comedy produces weekly shows in 100+ cities across the US in unique locations for a one-of-a-kind comedy experience! The location is kept a secret...",
        "sourceUrl":"https://www.youtube.com/watch?v=NA80zmq6iAo"
    },{
        "headline":"This 90s Sega Game Soundtrack Is CRAZY",
        "summary":"There are only HOURS remaining to grab the INSANE Black Friday Bundle! It's our entire course library for just $99! https://cornellmusicacademy.com/blackfrid...",
        "sourceUrl":"https://www.youtube.com/watch?v=2cx73EOaGWU"
    }],
#}
