{% extends "_sitehub/base" %}

{% import "_site/base/assemble.grids" as grids %}
{% set json = grids.definitions() | json_decode %}

{% block main__content %}

    <div data-theme="subtle-band" data-bodytext>
        <div class="container @container py-16">
            <h1>Block Themes</h1>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-20 w-full">
                <div class="@container w-full">
                    <p class="html larger">Block themes are a combination of declarations in two places.</p>

                    <ol class="html">
                        <li>CSS variable assignment in `frontend/templates/layout/base.twig`</li>
                        <li>Translation to Tailwind class names `frontend/tailwind.config.js`</li>
                    </ol>

                    <p class="html">Once defined, themes can be placed on any element by including a `data-theme` attribute.</p>

                    <strong class="mt-8 block">Usage:</strong>
                    <code class="bg-theme-contrast-light p-4 block text-xs font-mono leading-6">
                        <pre>&lt;div data-theme="<strong>themeName</strong>"&gt; .... &lt;/div&gt;</pre>
                    </code>
                </div>
            </div>
        </div>
    </div>

    {% set themeOpts = {
        base: {
            label: 'Base | Transparent',
            theme: 'base',
        },

        'subtle-band': {
            label: 'Subtle Band',
            theme: 'subtle-band',
        },

        'accent-band': {
            label: 'Accent Band',
            theme: 'accent-band',
        }
    } %}


    {% import "_core/assemble" as assemble %}
    {% import "_site/base/assemble.grids" as grids %}

    {% set text %}
        <div class="max-w-5xl mx-auto @container">
            <div class="eyebrow eyebrowStandard">Accent Color</div>

            <h2 class="html rd-h2">Praestare sapienti</h2>

            <p class="html">Istam voluptatem perpetuam quis potest? Nam illud vehementer repugnat, eundem beatum <a href="#">tecum ipse rides</a>.</p>

            <ul class="html checkList">
                <li>Quid enim de amicitia statueris utilitatis causa expetenda vides.</li>
                <li>Quid enim ab antiquis ex eo genere, quod ad disserendum valet, praetermissum est?</li>
                <li>Quid enim ab antiquis ex eo genere, quod ad disserendum valet, praetermissum est?</li>
            </ul>
        </div>

        <section class="my-16">
            {% set item = {
                headline: 'Quid enim de amicitia',
                summary: 'Istam voluptatem perpetuam quis potest? Nam illud vehementer repugnat, eundem beatum esse et multis malis oppressum.',
                image: ''
            } %}

            {{ assemble.loop( 'cardGrid', [item, item, item], { cardLayout: 'summary', cardGrid: 'stacked3' } ) }}
        </section>

        <div class="max-w-5xl mx-auto @container">
            <p class="html !mb-0 text-center" data-has-buttons>
                <a href="#" class="button">Button</a>
                <a href="#" class="buttonText">Text Button</a>
            </p>
        </div>
    {% endset %}

    {% for theme in themeOpts | keys %}
        <div data-theme="{{theme}}" data-bodytext>
            <div class="container @container py-16">
                <h2 class="text-center mb-16">{{ themeOpts[theme].label }}</h2>
                {{text | raw}}
            </div>
        </div>
    {% endfor %}

{% endblock %}