{% macro content() %}
    {% set text %}
        <div class="eyebrow eyebrowStandard">Quibusnam praeteritis?</div>
        <h2 class="rd-h2">Nihil enim hoc differt</h2>
        <p>Istam voluptatem perpetuam quis potest praestare sapienti? Isto modo ne improbos quidem, nam illud vehementer repugnat, eundem beatum.</p>
        <p><a href="#" class="button">Do a thing</a></p>
    {% endset %}

    {{ [{
        text  : text,
        source: 'assets',
        assets: {
            kind: 'pdf',
        },
        settings: {
            builder   : 'content',
            section   : 'pages',
            entrytype : 'standard',
            blocktype : 'collection',
        }
    }] | json_encode | raw }}
{% endmacro %}