<div
    x-cloak
    x-data="{}"
    class="
        absolute
        z-max
        top-0
        left-0
        w-full
        h-12
        flex
        items-center
        justify-center
        text-white
        bg-black
        -translate-y-full
        opacity-0
        transition-transform
        focus:translate-y-0
        focus:opacity-100
        focus-within:translate-y-0
        focus-within:opacity-100
    ">
    <div>
        Skip to <a href='#content' aria-label="Jump to Content" class="font-medium no-underline p-2 text-red-500 inline-block">content</a>
             or <a href='#footer'  aria-label="Jump to Footer"  class="font-medium no-underline p-2 text-red-500 inline-block">footer</a>
    </div>
</div>
