{% extends "_layout/base" %}
{% use "sitebook/_core/header" %}

{% requirePermission 'allowSitebook' %}

{% block page_top %}
    {{ block( 'default_top' ) }}
{% endblock %}

{% block logo %}
    <a href="{{ siteUrl('/sitebook/') }}" class="font-display text-3xl text-theme-accent flex items-center hover:text-theme-accentAlt py-4">
        <span class="text-shade"></span>Sitebook<span class="text-shade"></span>
    </a>
{% endblock %}

{% block page_bottom %}{{ block( 'footer_slim', '_layout/parts.footer' ) }}{% endblock %}
