{## Page Header (<header>) Base Elements & Defaults
 ------------------------------------------------------------------------------------ ##

    Defaults & common elements that appear in and around the site-wide page <header>.

    - http://localhost:8000/sitebook/layout/header

 ------------------------------------------------------------------------------------ ##}
{% use "_layout/parts.header" %}

{% block topbar_primaryMenu %}
    {{ include( "sitebook/_core/menu" ) }}
{% endblock %}

{% block topbar_utilityMenu %}
    <a href="{{ siteUrl( '/' ) }}" class="block p-2 text-sm hover:underline">Return to Public Site →</a>
{% endblock %}

{% block headerTagOpen %}
    {{ parent() | retconAttr( "header", { "data-theme": "dark", class: "bg-theme-background" }, false ) | replace({ '</header>': '' }) | raw  }}
{% endblock %}

{% block topbar_logo %}
    {{ block( "logo",  "sitebook/_core/base"  ) }}
{% endblock %}