{## Sitebook is the built in component & layout documentation
   system for content editors. It can be accessed at:

    -> $CRAFT_WEB_URL/sitebook/

   Access is restricted to users with the permission:

    -> allowSitebook

   This template serves two purposes:

   1) helps redirect requests out of the pages structure
      and into the secondary /sitebook/ structure without
      having to do any weird nesting

   2) acts as a preview template for modular content without
      a public URL using /sitebook/?modular={{entry.id}}
#}

{% extends 'sitebook/_core/base' %}
{% requirePermission 'allowSitebook' %}

{% set modularID = craft.app.request.getQueryParam('bit') ??? null %}
{% set entry     = modularID ? craft.entries().section('bit').id(modularID).one() ??? null  %}
{% set entryType = entry.type.handle ??? null %}

{% if not entry %}
    {% redirect "/sitebook/" %}
{% endif %}

{% block content %}
    <div class="container @container">
        <div class="max-w-sm py-20">
            {{ include( '_cards/item/basic', { entry: entry }, withContext = false ) }}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% if entryType == 'sidebarFragment' %}
        {{ include( '_components/builders/builderSidebar.twig', {
            entry: entry
        }, withContext = false) }}
    {% endif %}
{% endblock %}

{% block header %}{% endblock %}
{% block pageTitle %}{% endblock %}
{% block aboveFooter %}{% endblock %}
{% block footer %}{% endblock %}
