<span class="gridarea-overlap flex items-center align-center justify-center p-0 flex-col" aria-hidden="true">
    <lottie-player
        autoplay
        loop
        mode="bounce"
        preserveAspectRatio="none"
        speed="0.35"
        src="{{ siteUrl( 'vectors/lottie-blob.json' ) }}"
        class="w-full"
    ></lottie-player>
</span>

{% css %}
    .gridarea-overlap { grid-area: 1/-1; }
{% endcss %}