{% if currentUser and currentUser.showBlockMeta %}

    {% set thisBlock = craft.matrixBlocks().id(id).one() %}

    {% set type   = thisBlock.type.name         ??? null %}
    {% set bg     = thisBlock.background.label  ??? null %}
    {% set edges  = thisBlock.spaces.label      ??? null %}
    {% set layout = thisBlock.variant.label     ??? null %}

    <div class="flex align-center justify-center font-sans mt-6">
        <span class="text-xl font-bold -translate-y-4">↑</span>

        <div class="flex align-center bg-gray-900 text-white border border-white">
            <div class="flex flex-col-reverse border-gray-500 border-l">
                <strong class="text-xs uppercase block p-1 px-3 pr-5 bg-gray-700 text-gray-200">Block Type</strong>
                <span class="p-1 px-3 text-xl text-white font-bold">{{type}}</span>
            </div>

            <div class="flex flex-col-reverse border-gray-500 border-l">
                <strong class="text-xs uppercase block p-1 px-3 pr-5 bg-gray-700 text-gray-200">Layout</strong>
                <span class="p-1 px-3 text-xl text-white font-bold">{{layout}}</span>
            </div>
            
            <div class="flex flex-col-reverse border-gray-500 border-l">
                <strong class="text-xs uppercase block p-1 px-3 pr-5 bg-gray-700 text-gray-200">Background</strong>
                <span class="p-1 px-3 text-xl text-white font-bold">{{bg}}</span>
            </div>
            
            <div class="flex flex-col-reverse border-gray-500 border-l">
                <strong class="text-xs uppercase block p-1 px-3 pr-5 bg-gray-700 text-gray-200">Edges</strong>
                <span class="p-1 px-3 text-xl text-white font-bold">{{edges}}</span>
            </div>
        </div>
        <span class="text-xl font-bold -translate-y-4">↑</span>
    </div>
{% endif %}