<div class="flex flex-col xs:flex-row mt-6">
    <div class="mr-2 mb-2">
        <a class="github-button" href="https://github.com/simplicate-web/burton/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch burton on GitHub">Watch</a>
    </div>
    <div class="mr-2 mb-2">
        <a class="github-button block mr-2 mb-2" href="https://github.com/simplicate-web/burton" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star burton on GitHub">Star</a>
    </div>
    <div class="mr-2 mb-2">
        <a class="github-button block mr-2 mb-2" href="https://github.com/simplicate-web/burton/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork burton on GitHub">Fork</a>
    </div>
</div>

{% html %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
{% endhtml %}