{% extends "_layout/base" %}
{% use "sitehub/_core/header" %}

{% requirePermission 'allowSitehub' %}

{% block page_top %}
    {{ block( 'default_top' ) }}
{% endblock %}

{% block logo %}
    <a href="/sitehub/" class="font-display text-3xl text-theme-accent flex items-center hover:text-theme-accentAlt py-4">
        <span class="text-shade"></span>Sitehub<span class="text-shade"></span>
    </a>
{% endblock %}

{% block styles %}
    {{ parent() }}
    <style type="text/css">
        *[data-theme="debug"] {
            --primaryColor: #fff;
            --backgroundColor: #2f2f2f;
            --backgroundColorOff: #0f0f0f;
            --accentColor: #cc7832;
        }
    </style>
{% endblock %}

{% block page_bottom %}{{ block( 'footer_slim', '_layout/parts.footer' ) }}{% endblock %}
