<div class="fieldTemplate fieldTemplate__contentBit" style="background:#dadada; padding: var(--padding);">
    <h2>Variant Fields</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc tincidunt ultricies.
    </p>
</div>