<div class="fieldTemplate fieldTemplate__sidebarBuilder">
    <h2>Sidebar Builder</h2>

    <p>
        Use the sidebar to support the primary page content, highlight vital information, solicit
        conversions, suggest similar content for users, or helps them get closer to what they're looking for.
{#
        <a href="/sitehub/blocks/sidebar" target="_blank">Sidebar&nbsp;builder&nbsp;reference&nbsp;→</a> #}
    </p>
</div>