<div class="fieldTemplate fieldTemplate__collections">
    <h2>Understanding Collections</h2>

    <p>
        <strong>Dynamic Collections</strong> let you group similar content together <mark>on-the-fly</mark> by describing the search criteria.
        <strong>Static Collections</strong> are manually curated and maintained lists of Entries, Assets, etc. <strong>RSS Feeds</strong> allow
        for real-time importing of external content.
    </p>
</div>