<div class="fieldTemplate fieldTemplate__eventConference">
    <h2>Conference Details</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed
        erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.
    </p>

    {# <p>
        <a href="/sitehub/blocks/header" target="_blank">Header&nbsp;builder&nbsp;reference&nbsp;→</a>
    </p> #}
</div>