<div class="fieldTemplate fieldTemplate__contentBit" style="background:#dadada; padding: var(--padding);">
    <h2>Understanding Content Bits</h2>

    <p>
        Content Bits are a loosely structured collection of reusable text+image snippets which can be assigned to a variety of places through-out the CMS.
        When a Content Bit is updated, all instances of that bit will update simultaneously.<br><br>
        Common uses for Content Bits include:<br>
         &gt; block content, alert messages, modals, status messages, etc.
    </p>
</div>