<div class="fieldTemplate fieldTemplate__headerBuilder">
    <h2>Header Content</h2>

    <p>
        The <strong>Expanded Title</strong> allows for a <mark>lede</mark> or <mark>subtitle</mark> plus alternate &lt;h1&gt; text. The
        <strong>Header Builder</strong> provides block layout flexibility. The entry <strong>Name</strong> is the fallback.
    </p>

    {# <p>
        <a href="/sitehub/blocks/header" target="_blank">Header&nbsp;builder&nbsp;reference&nbsp;→</a>
    </p> #}
</div>