{% extends "sitebook/_core/base" %}

{% block page_main %}

    {% set item %}
        <div class="min-h-[8rem] bg-red-500/50 w-full h-full flex items-center justify-center @container">
            <h2 class="mb-0 text-center">Grid item</h2>
        </div>
    {% endset %}

    {% set items = [item,item,item,item,item,item,item,item,item,item,item,item] | join( '' ) %}

    {% import "_layout/core/grids" as grids %}
    {% set json = grids.definitions() | json_decode %}

    {% for grid in json['options'] | keys %}
        <div class="{{ cycle(['bg-white', 'bg-gray-300'], loop.index0) }} py-20">
            <div class="@container mb-20 max-w-3xl mx-auto px-4">
                <h1 class="text-center html">{{ grid }}</h1>
                {% if json['options'][grid]['_']|default() %}
                    <p class="larger text-center html">{{ json['options'][grid]['_'] | trim( '#' ) }}</p>
                {% endif %}
            </div>

            <div class="container @container">
                {{ grids.generate( items, grid ) }}
            </div>
        </div>
    {% endfor %}


{% endblock %}