{% set entry = { title: 'Layout Specs' } %}
{% extends "_layout/base" %}

{% requirePermission 'allowSitebook' %}

{% block page_main %}

    <div class="container @container py-16">
        <div class="max-w-5xl @container">

            <ul class="html">
                <li><a href="/sitebook/layout/grids">Grid Definitions</a></li>
                <li><a href="/sitebook/layout/containers">Container Definitions</a></li>
                <li><a href="/sitebook/layout/micro-layouts">Micro-Layout Definitions</a></li>
                <li><a href="/sitebook/layout/typography">Font & Typography Samples</a></li>
            </ul>
        </div>
    </div>

{% endblock %}