{% extends "_layouts/_common" %}

{# {% set topic = topic ??? entry ??? null %}

{% block beforeContent %}
    {% if topic.summary %}
        <div class="container @container">
            {{ processRichHtml( topic.summary ).text }}
        </div>
    {% endif %}
{% endblock %}

{% block afterContent %}
    {% set taggedArticles = craft.entries()
        .section('articles')
        .relatedTo(topic)
        .all() %}

    {% if taggedArticles %}
        <h2>Articles related to {{ topic.title }}</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-16">
            {% for item in taggedArticles %}
                {{ include('_cards/item/basic', {
                    entry: item
                }, withContext = false ) }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %} #}