{% set entry = entry ??? null %}

{## everything except topics should 404 ##}
{% if ( entry.type.handle ??? null ) != 'topic' %}
    {% header "HTTP/1.0 404 Not Found" %}
{% endif %}

{% set _layout = {
    title: entry.title
} %}

{% extends "_layouts/oneColumn" %}

{% block beforeContent %}
    {% if entry.summary %}
        <div class="container @container">
            {{ processRichHtml( entry.summary ).text }}
        </div>
    {% endif %}
{% endblock %}

{% block afterContent %}
    {% set taggedArticles = craft.entries()
        .section('articles')
        .relatedTo(entry)
        .all() %}

    {% if taggedArticles %}
        <div class="container py-16">
            {% embed '_layouts/micro/blockLayoutTopBottom' %}
                {% block cell1Body %}
                    <h2>Articles related to {{ entry.title }}</h2>
                {% endblock %}

                {% block cell2Body %}
                    {% embed '_layouts/micro/gridCols3' %}
                        {% block items %}
                            {% for item in taggedArticles %}
                                {{ include('_cards/item/basic', {
                                    entry: item
                                }, withContext = false ) }}
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
        </div>
    {% endif %}
{% endblock %}