{% set entry   = entry ??? null   %}
{% set _layout = _layout is defined and _layout is iterable ? _layout : {} %}
{% set _layout = {
    className: null,
}|merge(_layout) %}

{## <section class="cAboveFooter cAboveFooter__{{_layout.className}}">
    {% import "_macros/fragments.twig" as fragments %}
    {{ fragments.loadBySlug('call-to-action') }}
</section> ##}
