{% set entry  = entry  ??? null   %}
{% set layout = layout ??? 'base' %}

{# <section class="cAboveFooter cAboveFooter__{{layout}}">
    {% import "_macros/fragments.twig" as fragments %}
    {{ fragments.loadBySlug('call-to-action') }}
</section> #}
