{% extends "_layouts/spotlight" %}

{% block content %}
    {% import "_macros/richtext" as richtext %}    
    <div>
        <h1>Unauthorized</h1>

        {% set text %}
            <p>
                Your not authorized to access this page. Please try logging into your account or
                <a href="/contact">contact us</a> if you think this is an error.
            </p>
        {% endset %}        
        {{ richtext.prose( text, 'lg' ) }}
    </div>
{% endblock %}