{% extends "_layouts/spotlight" %}

{% block content %}
    {% import "_macros/richtext" as richtext %}    
    <h1>Offline for Maintenance</h1>

    {% set text %}
        <p>This shouldn't take long. Please try refreshing or checking back in a couple minutes.</p>
    {% endset %}    
    {{ richtext.prose( text, 'lg' ) }}
{% endblock %}