{% set _layout = {
    title: 'Search our Site'
} %}

{% set query   = craft.app.request.getParam('q') ??? null %}
{% set results = false %}

{% if query %}
    {% set entries = craft.entries()
        .search(query)
        .section('and, not sitebook, not modular, not systemPages')
        .type('and, not privateTag, not contentSearch')
        .with(['images','topics'])
        .orderBy('score')
        .limit(12)
    %}

    {% set results = entries.count() %}

    {% set _layout = {
        title: 'Search Results',
        subtitle: results
            ? "We found <strong>%s result%s</strong> for <mark><span>%s</span></mark>"|format( results, results > 1 ? 's', query )
            : "Sorry, we couldn't find anything matching <mark><span>%s</span></mark>"|format( query ),
    } %}
{% endif %}

{% extends "_layouts/oneColumn" %}

{% block belowHeader %}{% endblock %}

{% block content %}
    <div class="container @container">

        <div class="max-w-2xl pb-16">
            {% include '_components/search/basicQuery' with {
                headline: results ? 'Looking for something else?' : 'What can we help you find?',
                searchText: query
            } %}
        </div>

        {% if entries.count() ??? null %}
            {% paginate entries as pageInfo, pageEntries %}

            <div class="grid grid-cols-1 gap-16 pb-24">
                {% for item in pageEntries %}
                    <div class="relative max-w-5xl">
                        {{ include( '_components/cards/item/horizontal', { entry: item }, withContext = false ) }}
                    </div>
                {% endfor %}

                {{ include('_components/pagination/basic') }}
            </div>
        {% endif %}
    </div>
{% endblock %}
