{% extends "_layouts/oneColumn" %}

{% set card     = '_components/cards/text' %}
{% set query    = craft.app.request.getParam('q') %}
{% set limit    = 12 %}
{% set entries  = [] %}
{% set title    = 'Search' %}

{% if query %}
    {% set entries = craft.entries()
        .search(query)
        .section('and, not sitebook, not reusable, not systemPages')
        .type('and, not private, not searches')
        .with(['images','topics'])
        .orderBy('score')
        .limit(limit) %}

    {% set title   = 'Search Results' %}

    {% set subtitle = entries|length
        ? "We found " ~ entries|length ~ " results for <mark><span>" ~ query ~ "</span></mark>"
        : "Sorry, we couldn't find anything matching <mark><span>" ~ query ~ "</mark></span>."
    %}
{% endif %}

{% block header %}
    {{ include( "_components/header/header", {
        title   : title,
        layout  : 'oneColumn',
        section : 'search'
    }, withContext = false ) }}
{% endblock %}

{% block belowHeader %}{% endblock %}

{% block content %}
    <div class="container">
        {% if entries %}
            {% paginate entries as pageInfo, pageEntries %}

            <div class="grid grid-cols-1 gap-16 pb-24">
                <h2>{{subtitle|raw}}</h2>

                {% for item in pageEntries %}
                    <div class="relative">
                        {{ include(
                            [
                                '_sections/' ~ item.section.handle ~ '/_tease.content',
                                '_sections/' ~ item.section.handle ~ '/_tease',
                                '_sections/_tease.content',
                                '_sections/_tease'
                            ],{
                                entry: item,
                                card: card
                            }, withContext = false
                        ) }}
                    </div>
                {% endfor %}

                {{ include('_components/pagination/pagination') }}
            </div>
        {% endif %}

        <div class="max-w-2xl pb-16">
            {% include '_components/search/form' with {
                headline: entries and query ? 'Looking for something else?' : 'What can we help you find?',
                searchText: query
            } %}
        </div>
    </div>
{% endblock %}