# Craft CMS
# -------------------------------------------------------------------------
CRAFT_APP_ID=
CRAFT_ENVIRONMENT=dev
CRAFT_SECURITY_KEY=
CRAFT_CP_TRIGGER=cms
CRAFT_TIMEZONE=America/Toronto
CRAFT_COUNTRY=CA
CRAFT_LANGUAGE=en-CA
CRAFT_WEB_ROOT=/app/web
CRAFT_WEB_URL=http://localhost:8000
PRIMARY_SITE_URL=${CRAFT_WEB_URL}/en

# Database
# -------------------------------------------------------------------------
CRAFT_DB_DRIVER=mysql
CRAFT_DB_SERVER=mysql
CRAFT_DB_PORT=3306
CRAFT_DB_DATABASE=project
CRAFT_DB_USER=project
CRAFT_DB_PASSWORD=project
CRAFT_DB_SCHEMA=public
CRAFT_DB_TABLE_PREFIX=

# Email Delivery
# -------------------------------------------------------------------------
EMAIL_ADDRESS=noreply@example.com
EMAIL_SENDER="System Sender Name"
EMAIL_TEMPLATE=_email/system
EMAIL_HOSTNAME=${EMAIL_HOSTNAME:-}
EMAIL_PORT=465
EMAIL_USE_AUTH=yes
EMAIL_USERNAME=apikey
EMAIL_PASSWORD=${EMAIL_PASSWORD:-}
EMAIL_ENCRYPTION=ssl

# Object Storage
# -------------------------------------------------------------------------
S3_ENDPOINT=${S3_ENDPOINT:-https://localhost:9000}
S3_REGION=${S3_REGION:-us-east-1}
S3_ACCESS_KEY=${S3_ACCESS_KEY:-}
S3_SECRET_KEY=${S3_SECRET_KEY:-}

# Automation & Webhooks
# -------------------------------------------------------------------------
AUTOMATE_ENDPOINT=${AUTOMATE_ENDPOINT:-https://localhost:5678}
AUTOMATE_WEBHOOK_URL=${AUTOMATE_WEBHOOK_URL:-/webhook-test}
AUTOMATE_SECRET=${AUTOMATE_SECRET:-}

# Redis Cache Settings
# -------------------------------------------------------------------------
REDIS_HOSTNAME=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Local Development & Build Process Settings
# -------------------------------------------------------------------------
# Vite settings are not necessary on prod. They're only used during local dev & pipeline builds.
VITE_DEV_SERVER_PUBLIC=http://localhost:3000
VITE_DEV_SERVER_INTERNAL=http://frontend:3000

# Common Miscellaneous
# -------------------------------------------------------------------------
CAPTCHA_KEY=${CAPTCHA_KEY:-}
CAPTCHA_SECRET=${CAPTCHA_SECRET:-}
OPENAI_SECRET=${OPENAI_SECRET:-}
PAYMENT_KEY=${PAYMENT_TEST_KEY:-}
PAYMENT_SECRET=${PAYMENT_TEST_SECRET:-}
PAYMENT_WEBHOOKS=${PAYMENT_TEST_WEBHOOKS:-}
