main.cMain__twoColumns {
    .cContentBuilder {
        @apply lg:pb-16;
    }

    .cSidebarBuilder {
        /* @apply lg:mt-20; */
    }
}



.cContentBuilder__news  { }
.cContentBuilder__pages { }


.cHeaderBuilder {

}

.cHeaderBuilder__news  { }
.cHeaderBuilder__pages { }



.cSidebarBuilder {

}

.cSidebarBuilder__news  { }
.cSidebarBuilder__pages { }