<div id="curtain" class="cCurtainTransition"></div>

<div class="cCurtainLogo fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <h1 class="text-slate-500 opacity-0 text-9xl">Case Study</h1>
</div>

{% script %}
    window.addEventListener('load', function() {
        const observer = new MutationObserver( function(mutationList, observer) {
            mutationList.forEach( function(mutation) {
                if( mutation.type === 'attributes' ) {
                    if( mutation.target.classList.contains( 'htmx-request' ) ) {
                        if( !window.startTransition ) {
                            window.startTransition = new Date()
                            document.body.classList.add('showCurtain')
                        }
                    } else {
                        if( window.startTransition ) {
                            let endTime = new Date();
                            let elapsed = endTime - window.startTransition;
                            let timeout = 600 - elapsed > 0 ? 600 - elapsed : 0;
                            window.startTransition = null

                            setTimeout(() => {
                                document.body.classList.add('removeCurtain')
                                document.documentElement.style.scrollBehavior="auto";
                                window.scrollTo({ top: 0 });                
                                document.body.classList.add('removeCurtain')
                                setTimeout(() => {
                                    document.body.classList.remove('showCurtain', 'removeCurtain')
                                    document.documentElement.style.scrollBehavior = "smooth";
                                }, 750)
                            }, timeout )
                        }
                    }
                }
            })
        })

        observer.observe( document.body, { attributes: true } )
    })
{% endscript %}