<div class="fieldTemplate fieldTemplate__contentChunks">
    <h2>Content Chunks</h2>

    <p>
        Chunks are small reusable pieces of content unique to this entry.
        They can be added to the layout by using a <strong>Fragment</strong> block.
        <a href="/sitebook/layouts/content-chunks" target="_blank">Content&nbsp;chunks&nbsp;reference&nbsp;→</a>
    </p>
</div>