{## arguments passed to this template ##}
{% set isSprig   = isSprig   ??? false %}
{% set params    = params    ??? null %}
{% set settings  = settings  ??? null %}
{% set feedIds   = feedIds   ??? [] %}
{% set interface = interface ??? null %}
{% set baseurl   = baseurl   ??? siteUrl( craft.app.request.pathInfo ) ??? null %}

{## prepare the url params ##}
{% set params    = params ??? null %}
{% set urlParams = {} %}
{% set urlParams = params.query|default() ? urlParams|merge({ q: params.query  }) : urlParams %}

{% if feedIds and feedIds|length > 1 %}

    {% set feeds = craft.entries()
        .id(feedIds)
        .fixedOrder(true)
        .section('taxonomy')
        .type('contentFeed')
        .all()
    %}

    {% set activeFilter = params.filter ??? feeds|first.slug %}

    {% set align = interface == 'filterByFeed' ? 'justify-center' : '' %}

    <div class="flex {{align}}" x-data="{ active: '{{ activeFilter }}' }">
        <ul class="list-none m-0 p-0 flex justify-center gap-4">
            {% set activeFeed = null %}
            {% for feed in feeds %}

                {% set feedUrl  = siteUrl( baseurl, urlParams|merge({ f: feed.slug }) ) %}
                {% set isActive = ( activeFilter == feed.slug ) %}
                {% set activeFeed = isActive ? feed : activeFeed %}

                <li>{{ tag( 'a', {
                    text : feed.label ??? feed.title,
                    href : feedUrl,
                    class: "pill",
                    ':class': "active == '#{feed.slug}' ? 'isActive' : ''",
                    'x-on:click': "active = '#{feed.slug}'"
                  } | merge( not isSprig ? {} : {
                    sprig: true,
                    's-push-url': feedUrl,
                    's-val:f': feed.slug }
                ) )}}</li>
            {% endfor %}
        </ul>

        <input type="hidden" name="f" :value="active" />
    </div>

    <div class="text-center @container max-w-5xl">
        {{ activeFeed.dek ??? activeFeed.summary ??? null
            | retconAttr( 'p', { class: 'html' }, false ) }}
    </div>
{% endif %}