{## arguments passed to this template ##}
{% set isSprig  = isSprig  ??? false %}
{% set params   = params   ??? null %}
{% set settings = settings ??? null %}
{% set resultId = resultId|default('#sprigResults') %}

<div class="
    border
    border-theme-foreground
    flex
    flex-row
    rounded-lg
    bg-theme-backgroundOff
    p-2
">
    <input
        name="q"
        type="search"
        value="{{params.query}}"
        placeholder="Enter search term..."
        class="
            flex-grow
            w-full
            !p-0a
            text-black
            border-none
        "

        {% if isSprig %}
            sprig
            s-val:page="1"
            s-replace="{{resultId}}"
            s-trigger="keyup changed delay:300ms"
        {% endif %}
    >
    {% if isSprig %}
        <button class="button" sprig>Search</button>
    {% else %}
        <button class="button">Search</button>
    {% endif %}
</div>