{% set entry = { title: "Site Module Index" } %}
{% extends "_site/layout" %}

{% block content %}
    <div class="max-w-5xl @container">
        <p class="html larger">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mihi vero, inquit?
        </p>

        <p class="html">
            Ut nemo dubitet, eorum omnia officia quo spectare, quid sequi, quid fugere debeant? Cupit enim dícere nihil posse ad beatam vitam deesse sapienti.
        </p>
    </div>
{% endblock %}