{% set class    = class    ??? 'font-display text-9xl not-italic font-normal text-white whitespace-nowrap tracking-wide' %}
{% set headline = headline ??? null %}
{% set eyebrow  = eyebrow  ??? null %}
{% set uuid     = create('craft\\helpers\\StringHelper').UUID() %}

{% if headline or eyebrow %}
    <div
      id="headline-{{uuid}}"
      class="
        scrollingHeader
        drop-shadow
        absolute
        -bottom-2
        right-1/3
        z-20
      ">
        {{ eyebrow|retconAttr( '.eyebrow', { class: "eyebrowScrolling" }, false ) }}
        {{ headline|retconAttr( 'h1,h2,h3,h4,h5,h6', { class: class } ) }}
    </div>
{% endif %}

{% js %}
    window.waitForGlobal("app.gsap", function() {

        section  = document.querySelector("#headline-{{uuid}}").closest("section")
        headline = document.querySelector(".scrollingHeader")

        app.gsap.fromTo(headline, {
            x: '0',
            scale: 1.3
        }, {
            x: '50%',
            scale: 1,
            ease: "none",
            scrollTrigger: {
                trigger: section,
                start: () => "top bottom",
                end: "bottom top",
                scrub: true,
                invalidateOnRefresh: true // to make it responsive
            }
        });
    });
{% endjs %}