main.cMain__twoColumns { 
    .cContentBuilder {
        .cBlockSpacer {
            @apply max-h-[2rem] xl:max-h-[3rem] overflow-hidden;
        }
    }

    .cSidebarBuilder {
        .cBlockSpacer {
            @apply max-h-[2rem] overflow-hidden;
        }
    }
}