<span class="gridarea-overlap aspect-square flex items-center align-center justify-center -m-20 p-0 flex-col" aria-hidden="true">
    <lottie-player
        autoplay
        loop
        mode="bounce"
        preserveAspectRatio="none"
        speed="0.35"
        src="/svg/lottie-blob.json"
        class="w-full"
    ></lottie-player>
</span>

{% css %}
    .gridarea-overlap { grid-area: 1/-1; }
{% endcss %}