{% extends "_sitehub/base" %}

{% block main__content %}

    <div data-theme="base">
        <div class="container @container py-16">
            <div class="max-w-5xl @container mx-auto text-center mb-20">
                <h1>Playbooks & Tutorials</h1>

                <p class="html text-center">
                    Explore tutorials tailored to your websites features and self-document internal processes as playbooks to improve content & design consistency.
                </p>
            </div>

            {{ sprig( "_site/partials/search.full.sprig", {
                limit : 9,
                source: {
                    section: 'sitehub',
                    type: 'playbooks',
                },
                interface: 'fullSearch',
                settings: {
                    microLayout: 'topBottom__center',
                    cardGrid: 'stacked3',

                    cardLayout: 'summary',
                    columns: 3
                }
            }) }}

        </div>
    </div>
{% endblock %}
