{% extends '_components/cards/_common' %}
{% set card_template = _self %}
{% set card_type = 'thumbnail' %}

{% block content %}
    <div class="flex flex-col h-full gap-2 bg-theme-backgroundOff relative" data-card-thumbnail>
        <div class="image">
            {{ block('card_image') }}
        </div>

        <div class="absolute inset-0">
            <div class="@container text-theme-foreground flex flex-col h-full items-center justify-center">
                {{ block('card_headline') | attr( { class: "mb-0 bg-theme-accent text-white p-3 inline-block " } ) }}

                <div class="h-0 overflow-hidden">
                    {% block action %}{{ block('card_action') }}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}