{% extends '_components/cards/_common' %}
{% set card_template = _self %}
{% set card_type = 'summary' %}

{% block content %}
    <div class="flex flex-col h-full gap-2 bg-theme-backgroundOff relative">
        <div class="image">
            {{ block('card_image') }}
        </div>

        <div class="@container text-theme-foreground p-2 lg:p-4 flex-grow flex flex-col gap-3">
            {% set cardHeaderClass = 'mb-0' %}
            {{ block('card_headline') }}
            {{ block('card_summary') }}
        </div>

        {% block action %}
            {{ block('card_action') }}
        {% endblock %}
    </div>
{% endblock %}