{% import "_macros/richtext" as richtext %}

{% set htag    = htag    ??? 'h3' %}
{% set title   = title   ??? entry.title ??? entry.headline ??? null %}
{% set text    = text    ??? entry.summary ??? entry.dek ??? entry.text ??? null %}
{% set url     = url     ??? entry.url ??? null %}
{% set handle  = handle  ??? entry.section.handle ??? 'Base' %}

{% block articleTag %}
    <article class="cCard cCard__text cCard__{{handle}}">
{% endblock %}
    {% block title %}
        {%- if title -%}
            {{ richtext.formatHeadline( title, htag, "mb-1" )}}
        {%- endif -%}
    {% endblock %}

    <div class="grid grid-col-1 gap-3">
        {% block aboveSummary %}{% endblock %}

        {% block summary %}
            {{ richtext.prose(
                craft.typogrify.truncate(text, 320)
            ) }}
        {% endblock %}

        {% block link %}
            {%- if url -%}
                <a class="clickable-parent" href="{{ url }}">&ensp; Read more →</a>
            {%- endif -%}
        {% endblock %}
    </div>
</article>