{% set fillColor = fillColor ??? 'fill-white' %}

<div class="custom-shape-divider-bottom-1665093308">
    <svg class="{{fillColor}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
</div>

{% css %}
    .custom-shape-divider-bottom-1665093308 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1665093308 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 120px;
        transform: rotateY(180deg);
    }
{% endcss %}