{% set media  = media  ??? null %}
{% set config = config ??? null %}

{% if media %}
    {% set class = config.class ??? '' %}

    <div class="{{class}}">
        {{media.html|raw}}
    </div>
{% endif %}

{# wireframe placeholder #}
{% if ( not media or not media.html ) and getenv('CRAFT_ENVIRONMENT') != 'production' %}
    <div class="bg-slate-500 aspect-video w-full">&nbsp;</div>
{% endif %}

{% css %}

    .twitter-tweet-rendered {
        margin-right: auto;
        margin-left: auto;
    }

    .embedly-card iframe {
        background: #fff;
    }

{% endcss %}