{% extends "_layouts/twoColumns" %}

{% set card     = '_components/cards/textTruncated' %}
{% set query    = craft.app.request.getParam('q') %}
{% set limit    = 12 %}
{% set entries  = [] %}
{% set title    = 'Search' %}
{% set subtitle = "What can we help you find?" %}

{% if query %}
    {% set entries = craft.entries().search(query).orderBy('score').limit(limit) %}
    {% set title   = 'Search Results' %}
    
    {% set subtitle = entries
        ? entries|length ~ " results for <strong>“" ~ query ~ "”</strong>"
        : "Your search for <strong>“" ~ query ~ "”</strong> didn’t return any results."
    %}
{% endif %}

{% block header %}
    {{ include( "_components/header/header", {
        title: title,
        subtitle: subtitle,
        layout: 'twoColumns',
        section: 'search'
    }, withContext = false ) }}
{% endblock %}

{% block belowHeader %}{% endblock %}

{% block content %}
    <div class="container py-20">
        {% set searchFieldClasses = '' %}
        {% if entries %}
            {% paginate entries as pageInfo, pageEntries %}
            {% embed '_layouts/grids/intro-above-2-columns' with { content1Hide: true } %}
                {% block content2 %}
                    {% for item in pageEntries %}
                        {{ include(
                            [
                                '_sections/' ~ item.section.handle ~ '/_tease.content',
                                '_sections/' ~ item.section.handle ~ '/_tease',
                                '_sections/_tease.content',
                                '_sections/_tease'
                            ],{
                                entry: item,
                                card: card

                            }, withContext = false
                        ) }}
                    {% endfor %}
                {% endblock %}
            {% endembed %}

            {{ include('_components/pagination/pagination') }}

            {% set searchFieldClasses = 'pt-16 mt-16 border-t' %}
        {% endif %}

        <div class="{{searchFieldClasses}}">
            {% include '_components/search/form' with {
                headline: entries and query ? 'Search a different keyword or phrase' : 'Enter a search keyword or phrase',
                searchText: query
            } %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% if entries %}
        <div class="hidden lg:flex py-20 sticky top-16">
            {% include '_components/search/form' with {
                headline: 'Try another search',
                searchText: query
            } %}
        </div>
    {% endif %}
{% endblock %}