.cGrid__stack3Left {
    @apply
        grid
        gap-10
        grid-cols-1
        md:grid-cols-2;  

    @screen md {
        grid-template-rows: auto auto;

        .cGrid__content1 {   
            grid-area: 1 / 1 / 2 / 2;
        }
        
        .cGrid__content2 {   
            grid-area: 2 / 1 / 3 / 2;
        }
        
        .cGrid__content3 {
            grid-area: 1 / 2 / 3 / 3;
        }
    }
}